*, *:before, *:after {
	box-sizing: border-box
}

.cf:after {
	clear: both;
	content: '';
	display: table;
}

@font-face {
	font-family: "Roboto";
	src: url("/assets/fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
	font-family: "Roboto Condensed Bold";
	src: url("/assets/fonts/roboto/RobotoCondensed-Bold.ttf");
}

@font-face {
	font-family: "Roboto Condensed Bold Italic";
	src: url("/assets/fonts/roboto/RobotoCondensed-BoldItalic.ttf");
}

header,
footer {
	margin: 0;
	background-color: #000;
	width: 100%;
	height: 90px;
}

footer {
	clear: both;
	color: #fff;
	margin-top: 100px;
}

small {
	font-family: "Roboto", Helvetica, sans-serif;
	padding: 1em 0 0 10em;
	display: block;
}

header h1 {
	text-transform: uppercase;
	font-family: "Roboto Condensed Bold Italic", Helvetica, sans-serif;
	margin-top: 0;
    margin-bottom: 0;
    margin-left: 3.5em;
    color: #fff;
    font-weight: normal;
    font-size: 3.75em;
    line-height: 1.4em;
}

#logo {
	background: url("/assets/Marvel_Comics.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 100%;
	/*width: 22%;*/
}

.intro {
	padding: 0 20% 2em 15%;
}

.intro h3 {
	font-family: "Roboto Condensed Bold", Helvetica, sans-serif;
	padding-bottom: .5em;
	border-bottom: 2px solid #ed1b24;
	font-size: 2em;
	margin-bottom: 0;
}

.intro p {
	font-family: "Roboto", Helvetica, sans-serif;

}

section {
	height: 100%;
}

.image-rapper {
	margin: 0 4em;
}

.character-wrapper {
	width: 49.5%;
	height: 400px;
	float: left;
	overflow: hidden;
	border: 5px solid #000;
	position: relative;
	margin-bottom: 50px;
}

.character-wrapper:last-child {
	float: right;
}

div.select {
	width: 100%;
	height: 100%;
	background-image: url("/assets/placeholder.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/*border: 5px solid #000;*/
	display: inline-block;
	position: relative;
}

/*div.select:first-child {
	margin-left: 4px;
}*/

/*img {
	width: 100%;
	height: 100%;
	position: absolute;
}*/

.search {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.search.right {
	right: 10px;
	left: initial;
}

.search input {
	padding: .5em;
	border: 5px solid #000;
	border-radius: 2px;

}

.search button {
	position: relative;
	left: -37px;
	top: -5px;
	border: none;
	background-image: url("/assets/search.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	padding: .7em;
	background-color: transparent;
}

#vs {
	font-family: "Roboto Condensed Bold Italic", Helvetica, sans-serif;
	width: 100px;
	/*height: 45px;*/
	border: 5px solid #000;
	border-radius: 2px;
	position: relative;
	left: 47%;
	top: 6em;
	z-index: 1;
	background-color: #fff;
	text-align: center;
    line-height: 1.3em;
    font-size: 2em;
}

ul {
	padding-left: 6em;
	width: 46%;
}

ul.right {
	float: right;
	padding-right: 6em;
	width: 46%;
	padding-left: 0;
}

.right li,
.left li {
	font-family: "Roboto Condensed Bold", Helvetica, sans-serif;
	border: 5px solid #000;
	list-style: none;
	/*width: 48%;*/
	height: 100px;
	margin-bottom: .75em;
	position: relative;
	/*display: inline-block;*/
}

li:first-child {
	/*display: inline-block;*/
	clear: both;
}

li > img {
	height: 100%;
	width: 100px;
	position: absolute;
	border-right: 5px solid #000;
}

li p {
	display: inline-block;
	/*float: right;*/
	font-size: 1.25em;
	padding-left: 20%;
	padding-top: 1.5em;
	width: 75%;
	margin: 0;
	position: absolute;
	/*top: -37px;*/
}

li button {
	border: none;
	font-family: "Roboto Condensed Bold Italic", Helvetica, sans-serif;
	color: #fff;
	background-color: #ed1b24;
	padding: 2.65em;
	text-transform: uppercase;
	position: absolute;
	right: 0;
	height: 100%;
	/*margin-top: 1.5em;*/
}

.message {
	opacity: 0;
	display: none;
	margin: 15px;
}